.mainContent {
    z-index: 2;
    background: var(--eerie-black-2);
    border: 0.063rem solid var(--jet);
    border-radius: 1.25rem;
    transition: var(--transition-1);
    margin-inline: auto;
    position: relative;
    min-width: 75%;
}
