.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    display: grid;
    grid-template-rows: 1.25rem 1fr 1.25rem;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding-bottom: 2.5rem;
    gap: 4rem;
    font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}

.main {
    max-width: 75rem;
    margin-inline: auto;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 2rem;
    grid-row-start: 2;
    margin: 0.938rem 0.75rem;
}

.ctas {
    display: flex;
    gap: 1rem;
}

.ctas a {
    appearance: none;
    border-radius: 8rem;
    height: 3rem;
    padding: 0rem 1.25rem;
    border: none;
    border: 0.063rem solid transparent;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
}

a.primary {
    background: var(--foreground);
    color: var(--background);
    gap: 0.5rem;
}

a.secondary {
    border-color: var(--gray-alpha-200);
    min-width: 11.25rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }
}

@media (max-width: 37.5rem) {
    .page {
        padding: 2rem;
        padding-bottom: 5rem;
    }

    .main {
        align-items: center;
    }

    .main ol {
        text-align: center;
    }

    .ctas {
        flex-direction: column;
    }

    .ctas a {
        font-size: 0.875rem;
        height: 2.5rem;
        padding: 0 1rem;
    }

    a.secondary {
        min-width: auto;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
