.footer {
    position: sticky;
    grid-row-start: 3;
    display: flex;
    gap: 1.5rem;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white-1);
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--orange-yellow-crayola);
}
