.mainContent {
    z-index: 2;
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    transition: var(--transition-1);
    margin-inline: auto;
    min-width: 75%;
}
